

@import "../fonts/fa/fa-all.css";
@import "../fonts/fa/fa-sharp-solid.css";
@import "../fonts/fa/fa-sharp-regular.css";
@import "../fonts/fa/fa-sharp-light.css";
@import "../fonts/fa/fa-duotone.css";

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter/Inter-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    outline: none;
    user-select: none;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0.35vw;
  }
  
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100vw;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100vw;
}

input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type="checkbox"] {
    cursor: pointer;
}